html{
    	margin: 0;
    	padding: 0; }

body{ 	background:  #262626;
	   	font-family: Arial;
	   	color: white; 
		margin: 0;
    	padding: 0;}


.bar {
		background: #333333; 
		height: 60px;
		border-style: solid;
		border-width: 0.5px;
		border-color: #262626 #262626 #4d4d4d;}
.search {
	display: row;
		text-align: center;
		background: #1a1a1a; 
		height: 250px;
		color: #4d4d4d;
}

ul {
	list-style-type: none;
  		margin: 0;
  		padding: 13px;
  		text-align: justify;

}
a {
  		color: white;
  		text-decoration: none
}
a:hover {
	  		color: #b3b3b3;
	  		text-decoration: none
}
.s{

	height: 40px ;
	width: 1000px;
	background: #262626;
	border-color: #262626;
	border-radius: 10px;
	color: white;
}
.p{
	font-size: 30px;
	font-weight: bolder;	

}
.contain{
    display: inline-block;
    top: -30px;
    left: -10px;
    padding: 10px;
    position: relative;
		text-align: left;
		font-size: 18px;
		font-weight: bolder;
	
	
}

select{
	color:white ;
	width: 150px;
	height: 30px;
	background: #262626;
	border-color:  black #262626 #262626 black  ;
	border-radius: 10px;

}

.b{
	background-color: #66ff66;
	border-color: #66ff66;
	color: white;
	width: 70px;
	height: 30px;
	border-radius: 10px;
	font-weight: bolder;
	font-family: Arial;
}


.i{
	height: 240px;
		width: 170px;
}
table ,td{
  padding: 5px;
width : 100% ;
text-align :  left;
}


.table ,.td{
	width : 170px ;
text-align :  center;
}
.td{
  padding: -20px;
  height: 240px;
}
.tr{
	padding: -20px;
  height: 240px;
}